*{
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.noon{
    display: flex;
    justify-content: space-evenly;
    height: 20px;
    width: 65%;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.588);
    font-weight: 500;
}
.image img{
            width: 100%;
            height: 660px;
            object-fit: fill;
            margin-top: 10px;  
}
.buy{
    border-radius: 30px;
    width: 250px;
    height: 160px;
    font-size: 38px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 15px;
    background-color: rgb(0 113 227);
    color: white;
   
}
.save{
    border-radius: 30px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    background-color: rgb(0 113 227);
    color: white;
    margin-top: 5px;
}
.choose{
    border-radius: 30px;
    width: 250px;
    height: 190px;
    font-size: 36px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    background-color: rgb(0 113 227);
    color: white;
    margin-top: 15px;
}
.shop{
    border: 2px solid;
    width: 60px;
    height: 30px;
    border-color: rgb(0 113 227);
    border-radius: 20px;
    padding-top: 3px;
    padding-left: 15px;
    font-size: 20px;
    color:  rgb(0 113 227);
    margin-top: 20px;
    margin-left: 130px;
}
.shop:hover{
    background-color:  rgb(0 113 227);
    color: white;
}
.main {
    width: 100%;
    height: 650px;
    background-image: url(WhatsApp\ Image\ 2025-07-12\ at\ 12.58.02_4e171808.jpg);
    margin-top: 20px;
}
.hair{
    margin-top: -550px;
    margin-left: 520px;
}
.first{
    width: 70px;
    height: 70px;
    margin-left: 260px;
}
.second{
    width: 130px;
    height: 130px;
    margin-left: 230px;
}

.imgs{
    display: flex;

}
.imgs img{
position: absolute;
 bottom: 100px;
}
.center{
    text-align: center;
background-color: rgb(245 245 247);
margin-top: -50px;
}
.phone{
    font-size: 60px;
    margin-top: 110px;
   padding-top: 50px;
}
.more{
    border-radius: 40px;
    background-color:  rgb(0 113 227);
    width: 130px;
    height: 30px;
    color: white;
    padding-top: 5px;
    margin-left: 530px;
    margin-top: 30px;
    font-size: 18px;
}
.ishop{
    border: 2px solid;
    border-radius: 40px;
    border-color: rgb(0 113 227);
    color: rgb(0 113 227);
    width: 130px;
    height: 30px;
    padding-top: 5px;
    margin-left: 670px;
    font-size: 18px;
    margin-top: -37px;
}
.ishop:hover{
    background-color: rgb(0 113 227);
    color: white;
}
.secmore{
     border-radius: 40px;
    background-color:  rgb(0 113 227);
    width: 100px;
    height: 35px;
    color: white;
    padding-top: 9px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 220px;
    padding-left: 20px;
}
.buy2{
     border: 2px solid;
    border-radius: 40px;
    border-color: rgb(0 113 227);
    color: rgb(0 113 227);
    width: 50px;
    height: 35px;
    padding-top: 9px;
    margin-left: 150px;
    font-size: 18px;
    margin-top: -43px;
   margin-left: 350px;
   padding-left: 20px;
}
.buy2:hover{
     background-color: rgb(0 113 227);
    color: white;
}
.image3{
    border: 2px solid;
    color: white;
    width: 50%;
    height: 520px;
    background-image: url(ipadpro.jpg);
    background-size: 650px;
    background-position: bottom;
}
.pro{
    font-size: 40px;
   margin-left: 250px;
   margin-top: 40px;
}
.thin{
    font-size: 25px;
    margin-left: 130px;
}
.built{
    margin-top: 280px;
    margin-left: 230px;
    color:  rgb(0 113 227);
}
.more3{
     border-radius: 40px;
    background-color:  rgb(0 113 227);
    width: 100px;
    height: 35px;
    color: white;
    padding-top: 9px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 250px;
    padding-left: 20px;
}
.buy3{
  border: 2px solid;
    border-radius: 40px;
    border-color: rgb(0 113 227);
    color: rgb(0 113 227);
    width: 50px;
    height: 35px;
    padding-top: 9px;
    margin-left: 150px;
    font-size: 18px;
    margin-top: -43px;
   margin-left: 380px;
   padding-left: 20px;
}
.buy3:hover{
     background-color: rgb(0 113 227);
    color: white;
}
.img4{
    width: 50%;
    height: 520px;
    background-image: url(pro2.png);
    color: white;
     background-size: 920px;
    background-position: top;
    margin-left: 10px;
}
.pro2{
    margin-left: 230px;
    font-size: 38px;
    padding-top: 350px;
}
.aid{
    margin-left: 200px;
    font-size: 22px;
}
.center2{
    display: flex;
    margin-top: 10px;
}
.watch{
    display: flex;
    font-size: 30px;
    margin-left: 250px;
    padding-top: 50px;
}
.more4{
      border-radius: 40px;
    background-color:  rgb(0 113 227);
    width: 100px;
    height: 35px;
    color: white;
    padding-top: 9px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 230px;
    padding-left: 20px;
}
.buy4{
  border: 2px solid;
    border-radius: 40px;
    border-color: rgb(0 113 227);
    color: rgb(0 113 227);
    width: 50px;
    height: 35px;
    padding-top: 9px;
    margin-left: 150px;
    font-size: 18px;
    margin-top: -43px;
   margin-left: 360px;
   padding-left: 20px;
}
.buy4:hover{
     background-color: rgb(0 113 227);
    color: white;
}
.series{
    margin-left: 290px;
    font-size: 15px;
}
.classic{
    font-size: 25px;
    margin-left: 250px;
}
.img5{
    width: 50%;
    height: 520px;
    background-image: url(WhatsApp\ Image\ 2025-07-16\ at\ 14.25.27_c32e3685.jpg);
    background-size: cover;
    background-position: bottom;
}
.fit{
    display: flex;
    font-size: 40px;
    margin-left: 250px;
    padding-top: 50px;
    color:  rgb(245, 245, 247);
}
.motion{
    font-size: 20px;
    margin-left: 150px;
    color:  rgb(245, 245, 247);
}
.more5{
     border-radius: 40px;
    background-color: rgb(245, 245, 247);
    width: 100px;
    height: 30px;
    color: black;
    padding-top: 9px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 230px;
    padding-left: 20px;
}
.try{
     border: 2px solid;
    border-radius: 40px;
    border-color: rgb(245, 245, 247);
    color: rgb(245, 245, 247);
    width: 100px;
    height: 30px;
    padding-top: 9px;
    margin-left: 150px;
    font-size: 18px;
    margin-top: -43px;
   margin-left: 360px;
   padding-left: 20px;
}
.try:hover{
    color: black;
    background-color:  rgb(245, 245, 247);
}
.img6{
     width: 50%;
    height: 520px;
    background-image: url(WhatsApp\ Image\ 2025-07-16\ at\ 14.35.19_8b127c5e.jpg);
    background-size: 670px;
    background-position: bottom;
    margin-left: 10px;
}
.center3{
    display: flex;
    margin-top: 10px;
}
.trade{
     display: flex;
    font-size: 35px;
    margin-left: 250px;
    padding-top: 50px;
}
.you{
     font-size: 20px;
    margin-left: 190px;
}
.high{
     font-size: 20px;
    margin-left: 210px;
}
.mate{
    border-radius: 40px;
    background-color:  rgb(0 113 227);
    width: 150px;
    height: 30px;
    color: white;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 230px;
    padding-left: 20px;
}
.img7{
         width: 50%;
    height: 520px;
    background-image: url(WhatsApp\ Image\ 2025-07-16\ at\ 15.04.06_75d8bc8f.jpg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: fixed;
    margin-left: 10px;
}
.card{
      display: flex;
    font-size: 35px;
    margin-left: 250px;
    padding-top: 50px;
}
.car img{
    width: 50px;
    height: 50px;
}
.up{
      font-size: 20px;
    margin-left: 190px;
}
.every{
      font-size: 20px;
    margin-left: 230px;
}
.more6{
      border-radius: 40px;
    background-color:  rgb(0 113 227);
    width: 100px;
    height: 30px;
    color: white;
    padding-top: 9px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 190px;
    padding-left: 20px;
}
.now{
     border: 2px solid;
    border-radius: 40px;
    border-color: rgb(0 113 227);
    color: rgb(0 113 227);
    width: 100px;
    height: 30px;
    padding-top: 9px;
    margin-left: 150px;
    font-size: 18px;
    margin-top: -43px;
   margin-left: 320px;
   padding-left: 20px;
}
.now:hover{
     background-color: rgb(0 113 227);
    color: white;
}
.img8{
           width: 50%;
    height: 520px;
    background-image: url(WhatsApp\ Image\ 2025-07-16\ at\ 15.04.06_b36bb155.jpg);
    background-size: 670px;
    background-position: bottom;
    margin-left: 10px;
}
.center4{
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
}
.store{
    font-size: 50px;
    padding-top: 60px;
    padding-left: 150px;
    margin-top: 20px;
}
.gray{
    background-color:  rgb(245, 245, 247);
}
.apple-store{
    padding-left: 1200px;
    margin-top: -140px;
    width: 50px;
    height: 50px;
}
.apple-store img{
    width: 50px;
    height: 50px;
}
.story img{
width: 50px;
height: 50px;
padding-left: 1200px;
padding-top: 20px;
border-radius: 100%;
}
.nahla:hover{
    text-decoration: underline;
}
.nahla{
    margin-top: 10px;
}
.linu{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    background-image: url(store-card-40-iphone-16-pro-202409_GEO_US.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu1{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-macbook-air-202503.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu2{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-bts-offer-featured-202505.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu3{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-ipad-air-202503.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu4{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-watch-s10-202409.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu5{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-iphone-16e-202502_GEO_US.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
 .linu6{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-ipad-202503.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
 
.linu7{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-mac-studio-202503.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu8{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-iphone-16-202409_GEO_US.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu9{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-watch-ultra-202409_GEO_US.jpg);
    background-position: bottom;
    background-size: 430px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu10{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-watch-bands-202503.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu11{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-specialist-help-202506.jpg);
    background-position: bottom;
    background-size: 520px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu12{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-specialist-video-202409.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu13{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-taa-202505.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu14{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-TAA-202310.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu15{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-personal-setup-202408_GEO_US.jpg);
    background-position: bottom;
    background-size: 520px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu16{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-genius-202108.jpg);
    background-position: bottom;
    background-size: 520px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.linu17{
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu18{
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu19{
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu20{
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu21{
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.linu22{
    height: 230px;
    width: 300px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.store1{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-accessories-story-202503.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store2{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 131438.png);
    background-position: fixed;
    background-size: 360px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store3{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 132417.png);
    background-position: top;
    background-size: 380px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store4{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 132549.png);
    background-position: top;
    background-size: 360px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store5{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 133210.png);
    background-position: top;
    background-size: 357px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store6{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 133537.png);
    background-position: top;
    background-size: 365px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store7{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 165309.png);
    background-position: top;
    background-size: 350px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store8{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 165742.png);
    background-position: top;
    background-size: 357px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store9{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(MDFV4.jpg);
    background-position: center;
    background-size: 420px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store10{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-accessories-explore-202503.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store11{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-apple-music-202412.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store12{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 173438.png);
    background-position: top;
    background-size: 330px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store13{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 173447.png);
    background-position: top;
    background-size: 330px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store14{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 171720.png);
    background-position: top;
    background-size: 340px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store15{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 171733.png);
    background-position: top;
    background-size: 350px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store16{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 171743.png);
    background-position: top;
    background-size: 320px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store17{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 171755.png);
    background-position: top;
    background-size: 320px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store18{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 171807.png);
    background-position: top;
    background-size: 350px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.store19{
    height: 500px;
    width: 330px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(Screenshot\ 2025-07-22\ 171816.png);
    background-position: top;
    background-size: 320px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store20{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-apple-intelligence-202503.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store21{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-todayatapple-camp-202506.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store22{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-subscriptions-202108_GEO_US.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store23{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-applecare-202503.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
.store24{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-applepay-202503_GEO_US.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store25{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-50-homekit-202405_GEO_US.jpg);
    background-position: bottom;
    background-size: 530px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store26{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(iphone-card-40-carriertrade-202409.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store27{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-bts-edu-macbook-air-ipad-air-202503.jpg);
    background-position: bottom;
    background-size: 400px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store28{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-refurb-202408.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store29{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-business-202506.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store30{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-gov-202503.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.store31{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin-left: 15px;
    background-image: url(store-card-40-veteran-202503.jpg);
    background-position: bottom;
    background-size: 450px;
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}  
.hey{
    font-size: 13px;
}
.state{
     width: 120px;
     height: 40px;
     border-radius: 30px;
     text-align: center;
     background-color:  rgb(0 113 227);
     color: white;
     padding-top: 10px;
    margin-left: 100px;
    margin-top: 30px;
    }
    .lap{
        width: 300px;
        height: 40px;
        border-radius: 30px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 15px;
        background-color: rgb(232 232 237);
        margin-left: 100px;
        margin-top: 100px;
    }
    .moree{
     width: 120px;
     height: 40px;
     border-radius: 30px;
     text-align: center;
     background-color:  rgb(0 113 227);
     color: white;
     margin-top: 10px;
     padding-top: 10px;
   
    }
    .moree{
     width: 120px;
     height: 40px;
     border-radius: 30px;
     text-align: center;
     background-color:  rgb(0 113 227);
     color: white;
     margin-top: 20px;
     padding-top: 10px;
   margin-left: 70px;
    }
    .helo{
    height: 570px;
    width: 570px;
    border-radius: 20px;
    margin-left: 100px;
    background-image: url(Screenshot\ \(1\).png);
    background-position: bottom;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 570px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin-top: 80px;
}  
.helo1{
    height: 570px;
    width: 570px;
    border-radius: 20px;
    margin-left: 20px;
    background-image: url(Screenshot\ \(2\).png);
    background-position: bottom;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin-top: 80px;
}  